.quicksand-font{
font-family: "Quicksand", serif;
font-optical-sizing: auto;
font-weight:<weight>;
font-style: normal;
}
.raleway{
font-family: "Raleway", serif;
font-optical-sizing: auto;
font-weight:<weight>;
font-style:normal;
}
/* shared Style */
body{
    margin: 0px;
}
.btn-primary{
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    padding: 10px 60px;
    border-radius: 12px;
    border: none;
    background-color: orange;
    border: 2px solid orange;
}
.btn-primary:hover{
    background-color: rgb(255, 255, 255);
    border: 2px solid orange;
    color: orange;
    text-shadow: 1px 1px 2px black;
}
.btn-secondary{
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    padding: 10px 47px;
    border: none;
    border-radius: 12px;
    background-color: black;
    color: white;
    border: 2px solid black;
}
.btn-secondary:hover{
    background-color: white;
    color: black;
    border:2px solid black;
}
/* header */
/* navbar */
nav{
    margin: 20px 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-left{
    display: flex;
    align-items: center;
}
.nav-left-name{
    font-size: 32px;
    font-weight: bold;
    line-height: 30px;
    margin-left: 11px;
}
.nav-middle>ul{
    display: flex;
    list-style: none;
    gap: 32px;
}
.nav-middle>ul>li>a{
    text-decoration: none;
    font-size:20px;
}
.a-1{
    font-weight: bold;
    color: orange;
}
.a-2{
    font-weight: 500;
    color: #01ACFD;
}
.a-3{
    font-weight: 500;
    color: rgba(5, 212, 223, 1);
}
.a-4{
    font-weight:500;
    color: rgba(93, 88, 239, 1);
}
.nav-small{
    height: 30px;
    display: none;
}
.nav-small>img{
    height: 100%;
}

/* navbar close */
.banner{
    margin: 0px 120px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}
.banner-title{
    font-size: 56px;
    font-weight: bold;
    line-height:61px;
    margin-bottom: 24px;
}
.span-01{
    color: orange;
}
.span-02{
    color:#01ACFD;
}
.banner-description{
    font-size: 20px;
    margin-bottom: 24px;
}
/*header close */
/* header small resposnsive */
@media screen and (max-width:576px) {
    header{
        /* margin: 12px 26px; */
    }
    nav{
        padding: 12px 26px;
        margin: 0px;
        border-bottom: 1px solid orange;
    }
    .nav-left-name{
        display: none;
    }
    .nav-middle{
        display:none;
    }
    .nav-right{
        display: none;
    }
    .nav-small{
        display: inline-block;
    }
    .banner{
        flex-direction: column-reverse;
        text-align: center;
        margin:12px 0px;
        gap: 20px;
    }
    .banner-title{
        font-size: 32px;
        line-height:30px;
        margin-bottom: 18px;
    }
    .banner-description{
        font-size: 14px;
        margin-bottom: 18px;
    }
    .btn-secondary{
        font-size: 16px;
        padding: 6px 24px;
    }
    .banner-img{
        width: 90%;
        padding-top: 20px;
    }
    .banner-img>img{
        width: 100%;
    }
    .banner-content{
        width:calc(100% - 16px);
    }
}
/* header small resposnsive close*/
/* section-01 */
.section-01{
    background: url("./assets/bg.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    text-align: center;
}
.sec-01-title{
    padding-top: 60px;
    font-size: 46px;
    font-weight: bold;
    line-height: 57.5px;
}
.sec-01-boxs{
    display: flex;
    justify-content: center;
    margin: 80px 120px;
    gap: 28px;
}
.sec-01-box{
    border-radius: 19px;
    box-shadow: 0px 0px 28px rgb(218, 218, 218);
}
.sec-01-box>img{
    /* margin:52px 115px 32px 115px; */
    margin-top: 50px;
}
.sec-01-box-title{
    font-size: 24px;
    font-weight: bold;
    line-height: 30px;
    margin-top: 32px;
}
.sec-01-box-description{
    font-size: 16px;
    font-weight: 500px;
    line-height: 28px;
    padding: 30px 40px;
    color: #808080;
}
.sec-01-box-read-more{
    margin-bottom: 50px;
    font-size: 16px;
    font-weight: bold;
    line-height: 28px;
}
/* multiple color */
.box-1{
    border: 1px solid #def5ff;
    background:
    linear-gradient(#def5ff ,white,white,white);
}
.read-1{
    color: #64c8ff;
}
.box-2{
    border: 1px solid #fff4dc;
    background: 
    linear-gradient(#fff4dc,white,white,white);
}
.read-2{
    color: #F0AA00;
}
.box-3{
    border: 1px solid #F2E8FF;
    background: 
    linear-gradient(#F2E8FF,rgb(255, 255, 255),white,rgb(255, 255, 255));
}
.read-3{
    color: #8700FF;
}
.change{
    display: flex;
    justify-content: center;
    gap: 10px;
}
.change>div{
    background-color: orange;
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content:center;
    border-radius: 50px;
    color: white;
    font-size: 24px;
    font-weight: bold;
    line-height: 24px;
}
.change>div:hover{
    font-size: 42px;
}
/* section-01 close */
/* section-01 small responsive */
@media screen and (max-width:576px) {
    .sec-01-title{
        font-size: 26px;
        padding-top: 40px;
    }
    .sec-01-boxs{
        flex-direction: column;
        margin:20px 16px;
    }
    .change{
        display: none;
    }
}
/* section-01 small responsive close*/
/* section-02 */
.section-02{
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background:url("./assets/bg.png"), linear-gradient(white,#ffd48b);
    padding: 60px 120px;
    text-align: center;
}
.sec-02-title{
    font-size: 46px;
    font-weight: bold;
    margin-bottom: 80px;
}
.sec-02-boxs{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    
}
.sec-02-box-big{
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    background-color: white;
    position: relative;
    width: 500px;
    height: 610px;
    text-align: start;
}
.sec-02-img-date>img{
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
    width: 100%;
    
}
.sec-02-box-title-big{
    margin: 58px 38px 38px 48px;
    font-size: 24px;
    font-weight: bold;
    line-height: 38px;
}
.sec-02-box-description{
    margin: 0px 64px 34px 38px;
    font-weight: 500;
    line-height: 28px;
    color: #666666;
}
.sec-02-box-date-box-big{
    color: white;
    background-color: #3CD8E8;
    padding: 18px 15px;
    position: absolute;
    border-radius: 50px;
    left: 38px;
    top:280px;
}
.sec-02-box-mini{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    border-radius: 16px;
    grid-gap: 10px;
}
.sec-02-box{
    background-color: rgb(255, 255, 255);
    height:300px;
    width: 290px;
    border-radius: 16px;
    position: relative;
    text-align: start;
}
.small{
    display: none;
}
.sec-02-box>img{
    border-top-right-radius: 16px;
    border-top-left-radius: 16px;
}
.sec-02-box-date-box-2{
    background-color: #5D58F0;
    font-weight: 500;
    color: white;
    position: absolute;
    padding: 9px 18px;
    border-radius: 50px;
    left: 32px;
    top: 160px;
}
.sec-02-box-date-box{
    font-weight: 500;
    color: white;
    background-color: #95B226;
    position: absolute;
    padding: 9px 18px;
    border-radius: 50px;
    left: 32px;
    top: 160px;
}

.sec-02-box-title{
    font-weight: bold;
    margin: 32px 32px 28px 32px;
}
.btn-2-2{
    text-align: center;
    background-color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    padding: 10px 47px;
    border: none;
    border-radius: 12px;
    color: white;
    margin: 60px auto;
    border:2px solid black;
}
.btn-2-2:hover{
    background-color: white;
    color: black;
    border:2px solid black;
}
/* section-02 close */
/* section-02 responsive */
@media screen and (max-width:576px) {
    .section-02{
        padding:40px 16px;
    }
    .sec-02-title{
        font-size: 26px;
        margin: 0px;
        margin-bottom: 40px;
    }
    .sec-02-box-big{
        display: none;
    }
    .sec-02-box-mini{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    .sec-02-box{
        width: 173px;
        height: 179px
    }
    .sec-02-box>img{
        width: 100%;
    }
    .sec-02-box-date-box{
        font-size:9px;
        padding: 6px 11px;
        left: 22px;
        top: 94px;
    }
    .color-2{
        font-size: 9px;
        padding: 6px 11px;
        left: 22px;
        top: 94px;
    }
    .small{
        display: inline-block;
    }
    .sec-02-box-title{
        font-size: 9px;
        margin: 25px 22px 29px 22px;
    }
    .btn-2-2{
        margin: 40px;
        font-size: 16px;
    }
}
/* section-02 responsive close */
/* footer */
footer{
    padding: 130px 120px;
    background-color: #00a2ff;
    display: flex;
    justify-content: space-between;
    color: white;
}
.footer-left{
    max-width: 500px;
}
.footer-left-img-name{
    display: flex;
    align-items: center;
}
.footer-left-name{
    margin-left: 10px;
    font-size: 42px;
    font-weight: bold;
    line-height: 40px;
}
.footer-left-description{
    font-size: 20px;
    margin-top: 35px;
}
.footer-middle>ul{
    display: flex;
    flex-direction: column;
    gap: 20px;
    list-style: none;
    padding-left: 0px;
}
.footer-middle>ul>li>a{
text-decoration: none;
font-weight: 500;
font-size: 20px;
color: white;
}
.footer-right-title{
    font-size: 26px;
    font-weight: bold;
    margin-bottom: 32px;
}
.footer-right>img{
    margin-right: 10px;
}
/* footer close*/
/* footer small responsive*/
@media screen and (max-width:576px) {
    footer{
        padding:40px 16px;
        flex-direction: column;
        text-align: start;
        gap: 30px;
    }
    .footer-left-name{
        font-size: 34px;
    }
    .footer-left-description{
        font-size: 16px;
        margin-top: 20px;
        max-width: 330px;
    }
    .footer-middle>ul>li>a{
        font-size: 16px;
    }
    .footer-right-title{
        font-size: 22px;
        margin-bottom: 20px;
    }
}